.header {
  height: 8%;
  text-align: right;
  color: white;
  width: 100%;
  margin: auto;
  /* border: 2px solid red; */
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: rgb(127, 208, 248);
}
.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.menu {
  width: 40%;
}
.mainPage {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}
.sera {
  display: flex;
  flex-direction: row;
}
