body {
  background-color: #f7f5f5;
}
.header {
  text-align: right;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* min-height: 5vh; */
  background: #f7f5f5;
}

ul.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: auto;
}
.menu {
  width: 40%;
}
.mainPage {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  /* border: 2px solid green; */
}
/* .sera {
  display: flex;
  flex-direction: row;
} */

.landing-container {
  height: 80vh;
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.background-image {
  position: relative;
  height: 80vh;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.author {
  font-family: "DM Serif Text", serif;
}

.ta {
  opacity: 0.9;
}
