version: "3"
services:
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=idogrusoz@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin
    ports:
      - 8000:80
  postgresql:
    image: postgres:11
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: unless-stopped
